*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
}

:root {
    --ulfont:'Poppins', sans-serif;
    --heading:'Kaisei Tokumin', serif;
    --font:'Limelight', cursive;
    --sec_name:'Freehand', cursive;
    --name:'Bauhaus Modern', sans-serif;            
    --white:#fff;
    --black:#000;
    --olive:#A8BF67;
    /* --olive:rgb(165, 165, 37); */
    --darkgray:rgb(44, 46, 46);
    --lightdarkgray:rgba(44, 46, 46, 0.767);
    --gray:rgb(218, 218, 218);

}

body{
overflow-x: hidden;
}

/* ////////////////   heder section  ///////////////// */

header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:100%;
  margin: auto;
  height:53px;
  padding:.3rem 1rem;
  background-color:rgba(0, 0, 0, 0.63);
}
header .logo{
    width:55px;
    height:55px;
    padding:.4rem 0rem;
}
.logo img{
    width:100%;
    height:100%;
}
header nav .navbar{
    display: flex;
    align-items: center;
    grid-column-gap:2rem;
}
nav .navbar li a , .cart_log a{
    color:white;padding:.8rem;
    text-decoration:none;
    font-family:var(--ulfont);
    font-size:1rem;
    letter-spacing:1px;
    font-weight:500;
}
nav .navbar li a:hover{
    color:var(--olive);
}

nav .navbar li a i{
    color:white;
}

.navbar li{
    list-style: none;
}
.navbar .navbar_ul{
    position: absolute;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    grid-row-gap:1rem;
    border-radius:1px;
background-color:var(--black);
    margin-top:1rem;
    display:none;
}
.navbar .navbar_ul li{
    /* background-color:var(--gray);
    width:100%;
    height:100%; */
    border-radius:2px;
    padding:.6rem 1rem;
}
.navbar .navbar_ul li a{
padding:1rem .2rem;
font-size:.9rem;
}
#categ_li i{
    color:var(--olive);
}

.cart_log{
    display: flex;
    grid-column-gap:1.5rem;
}

.cart_log i{
    color:var(--olive);
    font-size:1.4rem;
}
.burger{
    width:30px;
    height:25x;
    border-radius:2px;
    padding:.3rem;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:var(--white);
    cursor: pointer;
}
.burger{
    display:none;
}
.burger i{
    font-size:1.2rem;
}






/* ////////////////   hero section  ///////////////// */


.bg_img{
    position: relative;
    background:url('IMG/bgnew.jpg');
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wave{
   position: absolute;
   bottom:0;
   width:100%;
   /* left:0; */
}
.wave path{
    fill:rgb(255, 255, 255);
}
.wave_2{
    width:100%;
    height:100vh;
    background-color:rgb(255, 255, 255);
    position: relative;
    top:-.2rem;
    z-index:10000;
}

.name{
    position:absolute;
    top:50%;
    left:10%;
    transform: translate(-10%,-50%);
}
.name {
    width:450px;
    height:200px
}

.name img{
    width:100%;
    height:100%;
}

.bg_small_img{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:25vh;
    margin:auto;
}
.flavers{
    position:relative;
    top:-8rem;
    left:-3rem;
    width:210px;
    height:250px;
}
.flavers img{
    width:100%;
    height:100%;
}
.tomato{
    position:relative;
    top:-9rem;
    left:-2rem;
    z-index:-100000;
    width:300px;
    height:250px;
}
.tomato img{
    width:100%;
    height:100%;
}

/* ////////////////  About section   /////////////////// */


.about_container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    background-color:var(--olive);
    height:40vh;
    padding:0rem 3rem;
    margin:auto auto -6rem auto;
    position: relative;
}
/* .about_container::before{
position: absolute;
content: '';
background-image:url('IMG/garlic.png');
background-size:100% 100%;
background-position: center;
width:180px;
height:120px;
} */


.burger_img{
    width:440px;
    height:440px;
}
.burger_img img{
    width:100%;
    height:100%;
}
.menu_hed h3{
    text-align: center;
    font-size:2rem;
    font-family:var(--font);
    font-weight:bold;
}
.menu_card{
    background-color:var(--darkgray);
    padding:.7rem;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
}
.menu_hed img{
width:350px;
height:10px;
}
.names_menu li{
list-style: none;
font-family:var(--heading);
font-weight: bold;
padding:.6rem .6rem;
font-size:1.2rem;
letter-spacing:1px;
top:-1rem;
position: relative;
}
.names_menu li img{
    width:28px;
    height:45px;
    top:1rem;
    position: relative;
}






/* //////////////////     @ media query     //////////////////// */


@media(max-width:991px){

.burger{
    display:block;
}

header nav .navbar{
        text-align: center;
        position:absolute;
        top:52px;
        flex-direction: column;
        grid-row-gap:1.2rem;
        width:100vw;
        left:-110%;
        transition:all 0.3s;
        background-color:var(--white);
        z-index:100000;
 }
 header nav .navbar .navli_1{
     margin:.6rem 0rem;
 }

.navbar.active{
    left:0%;
}
nav .navbar li a{
    font-size:1rem;
    color:var(--black);
}


.navbar .navbar_ul{
    background-color:rgba(146, 146, 146, 0.281);
    position: relative;
    z-index:1000000;
    width:100vw;
}
.navbar .navbar_ul a{
    color:var(--olive);
}
.navbar .navbar_ul a:hover{
    color:var(--black);
}


 /* ///////////////  hero section  ////////////// */

    .bg_img {
        height:85vh;
    }

    .name {
        width:400px;
        height:155px
    }   
    .flavers{
width:290px;
height:200px;
    }
    .flavers img{
        width:100%;
        height:100%;
    }
    .tomato{
        width:290px;
        height:200px;
        top:-5.6rem;
     }
    .tomato img{
    width:100%;
    height:100%;
   }

/* ///////////////  about  ///////////// */

.about_container{
    margin:2rem auto;
    padding:0rem 1rem;
}

.burger_img{
    width:390px;
    height:390px;
}

.menu_hed img{
    width:350px;
}

.menu_hed h3{
font-size:1.7rem;
}
.names_menu li{
    font-size: 1rem;
    padding:.3rem;
}


}

@media (max-width:850px){

/* ///////////////  about  ///////////// */

.about_container{
    margin:2rem auto;
    padding:0rem 1rem;
}

.burger_img{
    width:380px;
    height:390px;
}

.menu_hed img{
    width:320px;
}

.menu_hed h3{
font-size:1.7rem;
}
.names_menu li{
    font-size: 1rem;
    padding:.3rem;
}


}




@media (max-width:767px){

    /* ///////////////  hero section  ////////////// */

    .bg_img {
        height:80vh;
    }
    .name {
        width:380px;
        height:130px
    }
    
    .flavers{
        width:260px;
        height:205px;
        }
        .flavers img{
            width:100%;
            height:100%;
        }
            .tomato{
                width:250px;
                height:190px;
                top:-5rem;
                left:-2rem;
             }
            .tomato img{
            width:100%;
            height:100%;
           }
        

       /* ///////////////  about  ///////////// */

       .about_container{
           height:35vh;
       }  
       
.about_container{
    margin:1rem auto;
    padding:0rem 1rem;
    grid-column-gap:1rem;
}

.burger_img{
    width:314px;
    height:350px;
}

.menu_hed img{
    width:300px;
}

.menu_hed h3{
font-size:1.2rem;
}
.names_menu li{
    font-size: 1rem;
    padding:.3rem;
} 
.names_menu li img{
    height:40px;
    width:20px;
}

}

@media (max-width:699px){

           /* ///////////////  about  ///////////// */

           .about_container{
            height:30vh;
        }  
        
 .about_container{
     margin:1rem auto;
     padding:0rem 1rem;
     grid-column-gap:1rem;
 }
 
 .burger_img{
     width:280px;
     height:340px;
 }
 
 .menu_hed img{
     width:270px;
 }
 
 .menu_hed h3{
 font-size:1.2rem;
 }
 .names_menu li{
     font-size: 1rem;
     padding:.3rem;
 } 
 .names_menu li img{
     height:40px;
     width:20px;
 }

}



@media (max-width:670px){

        /* ///////////////  hero section  ////////////// */

        .bg_img {
            height:70vh;
        }
            .name {
            width:340px;
            height:120px
        } 

        .tomato{
            width:180px;
            height:170px;
            top:-4rem;
            left:-2rem;
         }
        .tomato img{
        width:100%;
        height:100%;
       }  
       .flavers{
        width:200px;
        height:190px;
        }
        .flavers img{
            width:100%;
            height:100%;
        }


                  /* ///////////////  about  ///////////// */

                  .about_container{
                    height:26vh;
                }  
                
         .about_container{
             margin:-1rem auto;
             padding:0rem 1rem;
             grid-column-gap:1rem;
         }
         
         .burger_img{
             width:280px;
             height:310px;
         }
         
         .menu_hed img{
             width:260px;
             height:5px;
         }
         
         .menu_hed h3{
         font-size:1.2rem;
         }
         .names_menu li{
             font-size:.9rem;
             padding:.3rem;
             font-weight: bold;
         } 
         .names_menu li img{
             height:30px;
             width:20px;
         }

}


@media(max-width:600px){


                  /* ///////////////  about  ///////////// */
 
                
         .about_container{
             margin:-1rem auto;
             padding:1rem .3rem;
             grid-column-gap:1rem;
         }
         

         .burger_img{
             width:240px;
             height:290px;
         }
         .menu_card{
             padding:0rem .4rem;
         }
         .menu_hed img{
             width:260px;
             height:5px;
         }
         
         .menu_hed h3{
         font-size:1.2rem;
         }
         .names_menu li{
             font-size:.9rem;
             padding:.3rem;
             font-weight: bold;
         } 
         .names_menu li img{
             height:30px;
             width:20px;
         }

}

@media(max-width:530px){

                      /* ///////////////  about  ///////////// */
 
                
                      .about_container{
                          height:25vh;
                        margin:-1rem auto;
                        /* flex-direction: column; */
                        padding:1rem 0rem;
                        grid-column-gap:1rem;
                        grid-row-gap:1rem;
                        /* background-color:transparent; */
                    }
                    
           
                    .burger_img{
                        width:230px;
                        height:290px;
                    }
                    .menu_card{
                        padding:0rem .4rem;
                    }
                    .menu_hed img{
                        width:230px;
                        height:9px;
                    }
                    
                    .menu_hed h3{
                    font-size:1.2rem;
                    }
                    .names_menu li{
                        font-size:1rem;
                        padding:.4rem .2rem;
                        font-weight: bold;
                    } 
                    .names_menu li img{
                        height:30px;
                        width:20px;
                    }

}




@media(max-width:500px){

     /* ///////////////  hero section  ////////////// */

     .bg_img {
        height:70vh;
    }
    .name {
        width:300px;
        height:120px
    }

    .tomato{
        width:160px;
        height:160px;
        top:-4rem;
        left:.4rem;
     }
    .tomato img{
    width:100%;
    height:100%;
   }  
   .flavers{
    width:160px;
    height:185px;
    }
    .flavers img{
        width:100%;
        height:100%;
    }


   /* ///////////////  about  ///////////// */
 
                
   .about_container{
    height:25vh;
  margin:-1rem auto;
  /* flex-direction: column; */
  padding:1rem 0rem;
  grid-column-gap:1rem;
  grid-row-gap:1rem;
  /* background-color:transparent; */
}


.burger_img{
  width:220px;
  height:255px;
}
.menu_card{
  padding:0rem .4rem;
}
.menu_hed img{
  width:220px;
  height:9px;
}

.menu_hed h3{
font-size:1rem;
}
.names_menu li{
  font-size:.9rem;
  padding:.4rem .2rem;
  font-weight: bold;
} 
.names_menu li img{
  height:25px;
  width:20px;
}




}

@media(max-width:430px){
    /* ///////////////  hero section  ////////////// */

    .bg_img {
        height:55vh;
    }   
.name{
    position:absolute;
    top:55%;
    left:10%;
    transform: translate(-10%,-55%);
}

.bg_small_img{
    height:20vh;
}
    .name {
        width:270px;
        height:100px
    }


    .tomato{
        width:150px;
        height:150px;
        top:-4rem;
        left:.4rem;
     } 
   .flavers{
    width:140px;
    height:170px;
    }


   /* ///////////////  about  ///////////// */
 
                
   .about_container{
    height:22vh;
  margin:-1.3rem auto;
  /* flex-direction: column; */
  padding:1rem 0rem;
  grid-column-gap:1.3rem;
  grid-row-gap:1rem;
  /* background-color:transparent; */
}


.burger_img{
  width:212px;
  height:250px;
}
.menu_card{
  padding:0rem .6rem;
}
.menu_hed img{
  width:190px;
  height:5px;
}
.menu_hed{
    padding-bottom:.6rem;
}

.menu_hed h3{
font-size:1rem;
}
.names_menu li{
    text-align: center;
  font-size:.8rem;
  padding:.5rem .2rem;
  font-weight: bolder;
  color:lightgray;
} 
.names_menu li img{
  height:20px;
  width:19px;
}


}


@media (max-width:374px){

    
   /* ///////////////  about  ///////////// */
 
                
   .about_container{
    height:22vh;
  margin:-1rem auto;
  /* flex-direction: column; */
  padding:1rem 0rem;
  grid-column-gap:1.3rem;
  grid-row-gap:1rem;
  justify-content: center;
  /* background-color:transparent; */
}


.burger_img{
  width:212px;
  height:250px;
  display:none;
}
.menu_card{
  padding:0rem .6rem;
}
.menu_hed img{
  width:270px;
  height:5px;
}

.menu_hed h3{
font-size:1.3rem;
}
.names_menu li{
  font-size:1rem;
  padding:.8rem .2rem;
  font-weight: bold;
} 
.names_menu li img{
  height:20px;
  width:19px;
}

}